integrations:
- name: nri-elasticsearch
  env:
    CLUSTER_ENVIRONMENT: <A way to further specify which cluster we are gathering data for, example 'staging'>
    CONFIG_PATH: <absolute path to the ElasticSearch configuration .yml file. (default "/etc/elasticsearch/elasticsearch.yml")>

    HOSTNAME: <hostname or IP where Elasticsearch Node is running. (default "localhost")>
    LOCAL_HOSTNAME: <(Optional) Hostname or IP of the Elasticsearch node from which to collect inventory data. (default "localhost"). Should only be set if you do not wish to collect inventory data against localhost>
    PORT: <port on which Elasticsearch Node is listening. (default 9200)>

    USERNAME: <username for accessing Elasticsearch Node>
    PASSWORD: <password for the given user.>

    TIMEOUT: <timeout in seconds for an API call (default 30)>

    USE_SSL: <(Optional) true or false to use SSL. If true Certificate bundle must be supplied. (default false)>
    CA_BUNDLE_DIR: <(Optional) Required if use_ssl is true. Directory for certificate authority bundle, must be included if use_ssl is true>
    CA_BUNDLE_FILE: <(Optional) Required if use_ssl is true. File for certificate authority bundle, must be included if use_ssl is true>

    INDICES_REGEX: <(Optional) Can be used to filter which indicies are collected. If left blank it will be ignored>
    COLLECT_INDICES: <(Optional) true or false to collect indices metrics. If true collect indices, else do not. (default true)>
    COLLECT_PRIMARIES: <(Optional) true or false to collect primaries metrics. If true collect primaries, else do not. (default true)>
    MASTER_ONLY: <(Optional) If true metrics will only be collected if the node is an elected master (default false)>

  interval: 15s
  labels:
    role: elasticsearch
  inventory_source: config/elasticsearch
